<!DOCTYPE html>
<html lang="en" ng-app="shopApp">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>

		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="themes/js/superfish.js"></script>
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<script src="themes/js/jquery.flexslider.min.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>
        <div id="top-bar" class="container">
            <div class="row">
                <div class="span4">
                    <form method="POST" class="search_form">
                        <input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
                    </form>
                </div>
                <div class="span8">
                    <div class="account pull-right">
                        <ul class="user-menu" ng-controller="UserController as user">
                            <li><a href="#/account">Konto ({{ user.data.getName() }})</a></li>
                            <li><a href="#/cart" ng-controller="CartController as cart">Twój koszyk ({{ cart.cart.getSum() | formatPrice }})</a></li>
                            <li ng-show="user.data.isGuest()"><a href="#/login">Zaloguj się</a></li>
							<li ng-show="user.data.isLogged()"><a href="" ng-click="user.data.logout()">Wyloguj</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="wrapper" class="container">
            <div ng-view></div>
            <section id="footer-bar">
                <div class="row" ng-controller="FooterController as footer">
                    <div class="span3" ng-repeat="menu_pos in footer.menu">
                        <h4>{{ menu_pos.name }}</h4>
                        <ul class="nav">
                            <li ng-repeat="item in menu_pos.items"><a href="#{{ item.url }}">{{ item.name }}</a></li>
                        </ul>
                    </div>
                    <div class="span5">
                        <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                        <br/>
                        <span class="social_icons">
                            <a class="facebook" href="#">Facebook</a>
                            <a class="twitter" href="#">Twitter</a>
                            <a class="skype" href="#">Skype</a>
                            <a class="vimeo" href="#">Vimeo</a>
                        </span>
                    </div>
                </div>
            </section>
            <section id="copyright">
                <span>Copyright 2013 bootstrappage template  All right reserved.</span>
            </section>
        </div>

				<script src="app/js/angular.min.js"></script>
				<script src="app/js/angular-route.min.js"></script>
				<script src="app/js/angular-resource.min.js"></script>
				<script src="app/app.js"></script>
				<script src="app/models/MenuModel.js"></script>
				<script src="app/models/CategoriesModel.js"></script>
				<script src="app/models/ProductModel.js"></script>
				<script src="app/models/ProductsModel.js"></script>
				<script src="app/models/UserModel.js"></script>
				<script src="app/models/BannersModel.js"></script>
				<script src="app/controllers/BannersController.js"></script>
				<script src="app/controllers/CartController.js"></script>
				<script src="app/controllers/FooterController.js"></script>
				<script src="app/controllers/LoginController.js"></script>
				<script src="app/controllers/MainPageCategoriesController.js"></script>
				<script src="app/controllers/MainPageLatestProducts.js"></script>
				<script src="app/controllers/MainPageProducts.js"></script>
				<script src="app/controllers/OrderController.js"></script>
				<script src="app/controllers/ProductController.js"></script>
				<script src="app/controllers/ProductRelatedController.js"></script>
				<script src="app/controllers/UserController.js"></script>
				<script src="app/controllers/CategoryController.js"></script>
				<script src="app/controllers/ProductsController.js"></script>
				<script src="app/controllers/RegisterController.js"></script>
				<script src="app/directives/ComponentCategories.js"></script>
				<script src="app/directives/ShopInitCategories.js"></script>
				<script src="app/directives/ShopInitSlider.js"></script>
				<script src="app/services/CartService.js"></script>
				<script src="app/services/UserService.js"></script>
    </body>
</html>
