<style>
input.ng-valid       {  background-color: green; }
input.ng-invalid     {  background-color: red; }
input.ng-pristine    {  background-color: white; }
input.ng-dirty       {   }
input.ng-touched     {   }
form span.error { color:red; }
</style>
<section class="navbar main-menu">
	<div class="navbar-inner main-menu">
		<a href="index.html#/" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
		<nav id="menu" class="pull-right" ng-controller="MainPageCategoriesController">
            <component-categories></component-categories>
        </nav>
	</div>
</section>
<section class="header_text sub">
	<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
	<h4><span>Log in or register</span></h4>
</section>

<section class="main-content" ng-controller="UserController as user">
	<div class="row" ng-hide="user.data.isGuest()">
		<div class="span5">
			<h4><span>You are already logged in</span></h4>
		</div>
	</div>

	<div class="row" ng-show="user.data.isGuest()">
		<div class="span5">
			<h4 class="title"><span class="text"><strong>Log in</strong> form</span></h4>
			<form name="login.form" ng-controller="LoginController as login" novalidate>
				<input type="hidden" name="next" value="/">
				<fieldset>
					<div class="control-group">
						<label class="control-label">E-mail address</label>
						<div class="controls">
							<input type="email" placeholder="User e-mail address" name="login" ng-model="login.userdata.login" class="input-xlarge" required>
							<div ng-show="login.form.login.$error.login">
								<span class="error">User doesn't exists or password is incorrect.</span>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password</label>
						<div class="controls">
							<input type="password" placeholder="Password" name="pass" ng-model="login.userdata.pass" class="input-xlarge" required>
						</div>
					</div>
					<div class="control-group">
						<input tabindex="3" class="btn btn-inverse large" type="submit" value="Log in" ng-disabled="login.form.$invalid" ng-click="login.submit(login.userdata, login.form.$valid)">
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span7" ng-controller="RegisterController as register">
			<h4 class="title"><span class="text"><strong>Register</strong> form</span></h4>
            <div class="row" ng-show="register.isMessage">
                <h4><span>Registration</span> complete.</h4>
                You can now log in using your email and password.
            </div>
			<form name="register.form" class="form-stacked" novalidate ng-hide="register.isMessage">
				<fieldset>
					<div class="control-group">
						<label class="control-label">E-mail address</label>
						<div class="controls">
							<input type="text" placeholder="User e-mail address" name="login" ng-model="register.userdata.login" class="input-xlarge" required>
							<div ng-show="register.form.login.$error.login">
								<span class="error">User already exists.</span>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							<input type="text" placeholder="User name and surname" name="name" ng-model="register.userdata.name" class="input-xlarge" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password</label>
						<div class="controls">
							<input type="password" placeholder="Password" name="pass" ng-model="register.userdata.pass" class="input-xlarge" required>
						</div>
					</div>
					<hr>
					<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Create account" ng-disabled="register.form.$invalid" ng-click="register.submit(register.userdata, register.form.$valid)"></div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
