<section class="navbar main-menu">
    <div class="navbar-inner main-menu">
        <a href="index.html#/" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt="" /></a>
        <nav id="menu" class="pull-right" ng-controller="MainPageCategoriesController">
            <component-categories></component-categories>
        </nav>
    </div>
</section>
<section  class="homepage-slider" id="home-slider" ng-controller="BannersController as banners">
<div class="flexslider">
    <ul class="slides">
        <li ng-repeat="banner in banners.list" shop-init-slider>
            <img src="{{ banner.image_url }}" alt="" />
        </li>
    </ul>
</div>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Popular <strong>products</strong></span></span></span>
                    </h4>
                    <div ng-controller="MainPageProducts as mainPageProducts">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    <li class="span3" ng-repeat="product in mainPageProducts.list">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="#/product/{{ product.id }}"><img src="{{ product.photo_url }}" alt="" /></a></p>
                                            <a href="#/product/{{ product.id }}" class="title">{{ product.name }}</a><br/>
                                            <p class="category">{{ product.promo_name }}</p>
                                            <p class="price">{{ product.price | formatPrice }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">New <strong>products</strong></span></span></span>
                    </h4>
                    <div ng-controller="MainPageLatestProducts as mainPageLatestProducts">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    <li class="span3" ng-repeat="product in mainPageLatestProducts.list">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="#/product/{{ product.id }}"><img src="{{ product.photo_url }}" alt="" /></a></p>
                                            <a href="#/product/{{ product.id }}" class="title">{{ product.name }}</a><br/>
                                            <p class="category">{{ product.promo_name }}</p>
                                            <p class="price">{{ product.price | formatPrice }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature_box">
				<div class="span4">
					<div class="service">
						<div class="responsive">
							<img src="themes/images/feature_img_2.png" alt="" />
							<h4>SZYBKA <strong>REALIZACJA</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="customize">
							<img src="themes/images/feature_img_1.png" alt="" />
							<h4>SZYBKA <strong>DOSTAWA</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="support">
							<img src="themes/images/feature_img_3.png" alt="" />
							<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
		<h4 class="title"><span class="text">Producers</span></h4>
		<div class="row">
			<div class="span2">
				<a href=""><img alt="" src="themes/images/clients/14.png"></a>
			</div>
			<div class="span2">
				<a href=""><img alt="" src="themes/images/clients/35.png"></a>
			</div>
			<div class="span2">
				<a href=""><img alt="" src="themes/images/clients/1.png"></a>
			</div>
			<div class="span2">
				<a href=""><img alt="" src="themes/images/clients/2.png"></a>
			</div>
			<div class="span2">
				<a href=""><img alt="" src="themes/images/clients/3.png"></a>
			</div>
			<div class="span2">
				<a href=""><img alt="" src="themes/images/clients/4.png"></a>
			</div>
		</div>
</section>
